@use "../base/vars" as vars;

::-webkit-scrollbar {
  display: none;
}

.home-container {
  grid-column: 2;
  height: calc(100vh - 50px);
  background-color: vars.$bgc-001;
  width: 100%;
  display: grid;
  overflow: auto;
  grid-template-rows: 2fr 9fr 2fr;
  div {
    width: 100%;
    display: flex;
    margin-block-start: 10px;
  }
  article {
    padding-inline: 50px;
    overflow: auto;
    font-size: 1.5rem;
    height: 100%;
  }
  p {
    text-align: justify;
    grid-column: 2;
  }
  button {
    width: fit-content;
    font-size: 30px;
    margin: auto;
    border-radius: 10px;
    padding-inline: 20px;
    border: none;
    cursor: pointer;
    &:hover {
      filter: brightness(90%);
    }
  }
}
