@use "../base/vars" as vars;

@mixin flex-center {
  display: flex;
  align-items: center;
}

nav {
  grid-column: 2;
  @include flex-center;
  justify-content: space-between;
  padding-inline: 15px;
  background-color: vars.$bgc-002;
  font-size: 1.5rem;
  height: 50px;
  h1 {
    font-family: "Playwrite CA", cursive;
    font-size: 1.5rem;
    color: vars.$color-002;
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
  }
  .pages-list {
    display: flex;
    gap: 1em;
  }
}

.selected {
  border-bottom: 2px solid vars.$color-002;
  color: vars.$color-002;
}

@media (max-width: 1000px) {
}
