@use "../base/vars" as vars;

.main-input {
  font-size: 2em;
  padding: 10px 0px;
  border-radius: 5px;
  text-align: center;
  border: none;
  margin: auto;
  background-color: unset;
  border-bottom: 3px solid vars.$bgc-002;
  color: white;
  &:focus {
    outline: none;
    color: vars.$color-002;
  }
}

.search-container {
  display: flex;
  align-items: center;
  justify-content: baseline;
}

@media (max-width: 900px) {
  .search-container {
    gap: 10px;
    margin-block-end: 10px;
    flex-direction: column;
  }
}
